{% extends "base.html" %}

{% block content %}

<div class="admin-hero">

  <h1>

    Admin Dashboard

  </h1>

  <p>

    Manage treks, staff and users

  </p>

</div>

<div class="stats-grid">

  <div class="stat-card">

    <h2>

      {{ total_users }}

    </h2>

    <p>

      Trekkers

    </p>

  </div>

  <div class="stat-card">

    <h2>

      {{ total_staff }}

    </h2>

    <p>

      Staff

    </p>

  </div>

  <div class="stat-card">

    <h2>

      {{ total_treks }}

    </h2>

    <p>

      Treks

    </p>

  </div>

  <div class="stat-card">

    <h2>

      {{ total_bookings }}

    </h2>

    <p>

      Bookings

    </p>

  </div>

</div>

<div class="dashboard-grid">

  <a class="dashboard-card" href="/admin/users">

    👥

    <h2>

      View Users

    </h2>

    <p>

      Manage registered users

    </p>

  </a>

  <a class="dashboard-card" href="/admin/treks">

    🏔

    <h2>

      View Treks

    </h2>

    <p>

      Monitor trek activity

    </p>

  </a>

  <a class="dashboard-card" href="/admin/treks/create">

    ➕

    <h2>

      Create Treks

    </h2>

    <p>

      Add new adventures

    </p>

  </a>

  <a class="dashboard-card" href="/admin/staff/create">

    🧭

    <h2>

      Add Staff

    </h2>

    <p>

      Assign trek guides

    </p>

  </a>

  <a class="dashboard-card" href="/admin/staff">

    📋

    <h2>

      View Staff

    </h2>

    <p>

      Track guide assignments

    </p>

  </a>

</div>

<div class="chart-box">

  <h2>

    Bookings per Trek

  </h2>

  <canvas id="bookingChart"></canvas>

</div>

<div class="chart-box">

  <h2>

    Bookings per Trek

  </h2>

  <canvas id="bookingChart"></canvas>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script>

  const labels =
    JSON.parse(
      '{{ chart_labels|tojson|safe }}'
    );

  const values =
    JSON.parse(
      '{{ chart_values|tojson|safe }}'
    );

  const ctx =
    document
      .getElementById(
        "bookingChart"
      );

  new Chart(

    ctx,

    {

      type: "bar",

      data: {

        labels: labels,

        datasets: [

          {

            label: "Bookings",

            data: values

          }

        ]

      },

      options: {

        responsive: true

      }

    }

  );

</script>


{% endblock %}