{% extends "base.html" %}

{% block content %}

<h1>Edit Trek</h1>

<form method="POST">

<input
name="name"
value="{{ trek.name }}"
>

<input
name="location"
value="{{ trek.location }}"
>

<input
name="difficulty"
value="{{ trek.difficulty }}"
>

<input
type="number"
name="duration"
value="{{ trek.duration }}"
>

<input
type="number"
name="slots"
value="{{ trek.available_slots }}"
>

<label>Assign Staff</label>

<select name="staff_id">

<option value="">
Unassign Staff
</option>

{% for member in staff %}

<option
value="{{member.id}}"

{% if trek.staff_id == member.id %}
selected
{% endif %}
>

{{member.name}}

</option>

{% endfor %}

</select>

<button>

Update

</button>

</form>

{% endblock %}