{% extends "base.html" %}

{% block title %}
Reset Password | Musafir Treks
{% endblock %}

{% block content %}

<section class="register-page">

  <div class="register-left">

    <h1>

      Forgot Password?

    </h1>

    <p class="hero-description">

      Don't worry. Enter your registered email and
      choose a new password to regain access to your
      Musafir account.

    </p>

  </div>

  <div class="register-card">

    <h2>

      Reset Password

    </h2>

    <p class="login-text">

      Your new password will be updated immediately.

    </p>

    <form method="POST">

      <label>

        Registered Email

      </label>

      <input type="email" name="email" placeholder="Enter your registered email" required>

      <label>

        New Password

      </label>

      <input type="password" name="password" placeholder="Create a new password" required>

      <button type="submit" class="login-btn">

        Update Password

      </button>

    </form>

  </div>

</section>

{% endblock %}